/************************ Reset Styles **************************/
body {
    font-family: "raleway", "sans-serif";
}
/************************ BootStrap Styles **************************/

.navbar-brand img {
    width: auto;
    height: 75px;
}

.nav-item {
    transition: all .3s ease-in-out;

}

.nav-item a{
    color: rgb(24, 24, 26);
}
.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.493);
}

.nav-link {
    color: black;
    font-size: 1.15rem;
    font-weight: bold;
}

.nav-link:hover {
    color: white;
}

.dropdown-item {
    font-weight: bold;
}

/* Estilos para el footer */
footer a {
    color: white;
    transition: all 0.3s ease-in-out;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.541);
}



/************************ My Styles **************************/


/*X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}